<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @user %>
    </div>
  <div class="col-md-9">
    <%= render "posts/posts", posts: @posts %>
  </div>
</div>