<div class="user-show">
  <div class="user-show--info">
    <%= render "users/info", user: @user %>
    <div class="user-show--trash-box">
      <%= image_tag("trash-box.png") %>
    </div>
  </div>

  <div class="user-show--posts">
    <%= render "posts/posts", posts: @posts, title: "mypost.png" %>
  </div>
</div>

