
  <div class="facilities--list">
    <table class="facilities--table">
      <thead>
        <tr>
          <th>施設名</th>
          <th>営業時間</th>
          <th>住所</th>
          <th>最寄り駅</th>
        </tr>
      </thead>
      <tbody id=facilities--data>

      </tbody>
    </table>
  </div>

  