<%= link_to game_east_path(year: :"2020") do %>
  <div class="game--conference__east">
    <p class="game--link__east">East</p>
  </div>
<% end %>
<%= link_to game_west_path(year: :"2020") do %>
  <div class="game--conference__west">
    <p class="game--link__west">West</p>
  </div>
<% end %>