<div class="game">
  <h1>順位表</h1>
  <h2>East</h2>

  <div class="game--years">
    <%= link_to "2018", game_east_path(year: :"2018"), id: "under_line", remote: true %>
    <%= link_to "2019", game_east_path(year: :"2019"), id: "under_line", remote: true %>
    <%= link_to "2020", game_east_path(year: :"2020"), id: "under_line", remote: true %>
  </div>

  <table class="game--table">
    <thead>
      <tr>
        <th>順位</th>
        <th>チーム</th>
        <th>勝</th>
        <th>負</th>
        <th>差</th>
        <th>直近（10試合）</th>
        <th>勝率</th>
      </tr>
    </thead>
    <tbody class="game--rank">
      <%= render "homes/game", team_rank: @team_rank %>
    </tbody>
  </table>
</div>