<div class="news">
  <div class="news--main">
    <h1>News</h1>

    <div class="news--paginate">

    </div>

    <div class="news--articles">

    </div>

    <div class="news--paginate">

    </div>
  </div>
</div>