<div class="main-contents">
  <div class="main-contents--main-view"></div>
  <div class="main-contents--news">
    <div class="main-contents--text">
      <h1>バスケ情報</h1>
      <p>
        最新のNBA試合結果やバスケに関する情報をいち早く確認することができます<br>
      </p>
    </div>
  </div>
  <div class="main-contents--info">
    <div class="main-contents--info__text1">
      <div class="main-contents--info__photo1"></div>
    </div>
    <div class="main-contents--info__text2">
      <div class="main-contents--info__photo2"></div>
    </div>
    <h1>Let's play Basketball with eveybody loves it</h1>
  </div>
</div>

