/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "slick-theme";
 @import "slick";

 $main-color: black;
 $main-text-color: white;

 @mixin text-center($height) {
  text-align: center;
  line-height: $height;
 }

 @mixin nav-line($position, $deg) {
  width: 2px;
   height: 85px;
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   display: block;
   margin: auto 0 auto $position;
   background-color: #292929;
   transform: rotate($deg);
 }



header{
 position: fixed;
 width: 100%;
 top: 0;
 z-index: 1000;
}

// ヘッダートップ
 .header-top{
   width: 100%;
   height: 60px;
   background-color: $main-color;
   position: relative;
   // ヘッダートップLogo
   &__logo{
    @include text-center(40px);
    width: 100px;
    height: 40px;
    border: 1px solid white;
    color: $main-text-color;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
   }

   // 施設管理者サインアップ、サインインリンク
   &__admin{
    text-align: right;
   }
   &__sign-up{
    display: inline-block;
    line-height: 60px;
    text-decoration: none;
    &::after {
     content: '';
     display: inline-block;
     width: 1px;
     height: 30px;
     background: white;
     transform: translateY(10px);
     margin: 0 10px;
    }
   }
   &__sign-in{
    display: inline-block;
    line-height: 60px;
    margin-right: 20px;
    text-decoration: none;
   }
  }

 .header-nav{
  height: 80px;
  background-color: gray;
  &--list{
   height: 80px;
   list-style-type: none;
   text-align: center;
   font-family: "BebasNeue", sans-serif;
   font-weight: bold;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
  }
  &--list-item{
   margin: 0 40px;
   color: white;
   &::after {
    @include nav-line(-5px, 20deg);
   }
   &__logo{
    margin: 0 30px;
    &::after {
     @include nav-line(-5px, 20deg);
    }
    &::before{
     @include nav-line(200px, -20deg);
    }
    img{
     width: 140px;
    }
   }
   &__reverse {
    margin: 0 40px;
    color: white;
    &::after{
     @include nav-line(150px, -20deg);
    }
   }
  }
 }

// フッター
 footer{
  @include text-center(80px)
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  bottom: 0;
  z-index: 1000;
 }

 body{
  padding: 140px 0 50px 0;
 }

 a,
 a:hover{
  text-decoration: none;
 }


#under_line{
    /*線の基点とするためrelativeを指定*/
	position: relative;
}

#under_line:hover{
	color:#0481A2;
}

#under_line::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#0481A2;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
#under_line:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}


// ログインフォーム画面


input {
  ::input-placeholder {
     color: rgba(255,255,255,0.7);

  }
  &:focus {
    outline: 2 transparent solid;
    ::input-placeholder {
     color: rgba(0,0,0,0.7);
    }
  }
}

// 新規登録とログイン画面のレイアウト
.user-form {
 min-width: 25%;
 min-height: 25%;
 padding: .5rem;
 background-color: rgba(0,0,0,0.7);
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 &--icon{
  text-align: center;
 }
 h2{
  color: white;
 }
 &--login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  .fa-stack-1x {
    color: black;
  }
 }
 &--input {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
 }
 &--actions{
  text-align: center;
 }
 &--login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms background ease-in;
  &:hover, &:focus {
   background: white;
   color: black;
   transition: 250ms background ease-in;
  }
 }
 &--admin-background{
  width: 100%;
  height: 700px;
  background: image-url('sunset-5383040_1920.jpg');
  background-size: cover;
  background-position: 25% 50%;
 }
 &--user-background{
  width: 100%;
  height: 700px;
  background: image-url('basketball.jpg');
  background-size: cover;
   background-position: 25% 50%;
 }
}








