// ユーザー検索のモーダルウィンドウ
.search{
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  &--background{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
  }
  &--header{
    padding: 10px ;
    text-align: center;
    h1{
      position: relative;
    }
    h1:after{
      content: "";
      border: 1px solid blue;
      width: 80px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
  }
  &--member{
    width: 500px;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--users{
   margin: 30px;
   padding: 10px;
   overflow: scroll;
   &__detail{
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 10px;
   }
   &__link{
     position: absolute;
     right: 0;
     top: 0px;
   }
  }
}