@mixin view($photo) {
  width: 100%;
  height: 900px;
  background-size: cover;
  background-image: image-url($photo);
  background-position: center;
}

// TOP画面のレイアウト
.main-contents{
  &--main-view{
    @include view('top.png');
    border-bottom: 10px solid white;
  }
  &--news{
    width: 80%;
    min-height: 620px;
    margin: 100px auto;
    background-size: cover;
    background-image: image-url('10.jpg');
    position: relative;
  }
  &--text{
    width: 40%;
    height: 600px;
    background: rgba(255,255,255, 0.6);
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &--fixed-background {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    .title{
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;

      background-color: rgba(0,0,0,0.7);
      padding: 10px 20px;

      h1{
        text-weight: bold;
        font-size: 60px;
        letter-spacing: 10px;
        &:before,
        &:after {
          position: absolute;
          left: 0;
          content: '';
          width: 100%;
          height: 6px;
          box-sizing: border-box;
        }
        &:before {
          top: 0;
          border-top: 2px solid #ccc;
          border-bottom: 1px solid #ccc;
        }
        &:after {
          bottom: 0;
          border-top: 1px solid #ccc;
          border-bottom: 2px solid #ccc;
        }
      }
    }
  }

  &--background-1 {
    background-image: image_url("cort.jpeg");
  }

  &--background-2 {
    background-image: image_url("3.jpeg");
  }
  &--scroll-background{
    padding: 20px;
    text-align: center;
    color: white;
    h1{
      width: 300px;
      text-weight: bold;
      font-size: 40px;
      letter-spacing: 10px;
      padding: 10px;
      border-bottom: solid 5px #7db4e6;
      margin: 10px auto;
    }
    p{
      font-size: 20px;
      padding: 10px;
    }
  }
  &--sign-up {
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    width: 100px;
    margin: 5px auto;
    padding: 5px;
    transition: 250ms background ease-in;
    &:hover, &:focus {
     background: white;
     color: black;
     transition: 250ms background ease-in;
    }
   }
  &--fadein{
  	opacity : 0;
  	visibility: hidden;
  	transition: 2s;
  	transform: translateY(30px);
  	padding: 10px;
  }
  /*アニメーション要素までスクロールした時のスタイル*/
  &--fadein.active{
  	opacity: 1;
  	visibility: visible;
  	transform: translateY(0);
  	&:before,
    &:after {
      position: absolute;
      left: 0;
      content: '';
      width: 100%;
      height: 6px;
      box-sizing: border-box;
    }
    &:before {
      top: 0;
      border-top: 2px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    &:after {
      bottom: 0;
      border-top: 1px solid #ccc;
      border-bottom: 2px solid #ccc;
    }
  }
  &--background-color{
    background-color: #444444;
  }
  &--info{
    position: relative;
    text-align: center;
     &__text1{
      width: 80%;
      height: 600px;
      margin: 20px auto 0;
      background-image: image-url('8.jpeg');
      background-size: cover;
      background-position: top -120px right 0;
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
    &__text2{
      width: 80%;
      height: 600px;
      margin: 0 auto 20px;
      background-image: image-url('6.jpeg');
      background-size: cover;
      background-position: top -120px right 0;
      clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
    }
    h1{
      font-size: 60px;
      position: absolute;
      top: 560px;
      left: 300px;
      transform: rotate(-8deg);
      color: white;
    }
    h1:after {
      content: "";
      display: block;
      height: 10px;
      background: linear-gradient(to right, orange, transparent);
    }
  }
}

// topアニメーション
#particles-js {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #4d060b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}


// スライドnewsの設定
.slider {
    width: 95%;
    margin: 0 auto;
}

.slider .slick-slide {
	transform: scale(0.8);
	transition: all .5s;
	opacity: 0.5;
}

.slider .slick-slide.slick-center{
	transform: scale(1);
	opacity: 1;
}

/*ドットナビゲーションの設定*/
.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;/*ドットボタンのサイズ*/
    height: 8px;/*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background: blue;/*ドットボタンの現在地表示の色*/
}

 
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1440px) {
  .main-contents--info h1{
    top: 550px;
    left: 150px;
  }
  .news--articles__item{
    max-height: 400px;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
  .main-contents--info h1{
    top: 560px;
    font-size: 45px;
    transform: rotate(-11deg);
    left: 90px;
  }
  .news--articles__item{
    max-height: 400px;
  }
}